In [ ]:
# Question_1: explain the key features of pythn that make it a popular choice for proramming language

In [1]:
#1 : Simplicity : python's syntax is designed o be clear and readable, which makes it accessible for beginners and experienced developers alike. its elegant and straightforward style reduces the cost of program maintenance.

#2 : Versatility: python is a versatile language that can be used or a wide range of applications including web developmaent , data analysis , artificial intelligence , scientific computing, and more. This versatility is supported by a vast ecosystem of libraries and frameworks.

#3 : Strong community and support : python has a large and active community of developers who cntributes to its growth and development . This community support is evident in the availability of resources , tutorials and forums where developers can seek help and share knowledge.

#4 : Scalibility : python scales well with the size of projects . It can be used to write small scripts or large - scale applications .Many high- traffic websites and applications are built uusing pyton frameworks such as django and flask.

#5 : Libraries and Frameworks : python has a vast ecosystem of thirdparty ibraries and framework that extends its capabilities. For example, Numpy and Pandas for data manipulation, TensorFlow and  PyTorc for machine learning, Django and FLASK for web develpment , and more.

#6 : Integration capabilities : python can easily interface with other languages like C++/C allowing developers to optimize critical sections of code for performance while retaining python ease of use for other parts of project.

#7 : Rich standard library : python comes with a comrehensive sandard library that provides modules and packages for tasks such as string operations , file I/O, web services ,and more . This reduces the need for external libraries for many common programming tasks.
 
#8  :Interpreted and Interactive : python is an interpreted language, which means that code can be executed line by line , making it easier to test and debug. Additionally , python supports an interactive mode where you can experiment with code snippets and immediatey see the results.

#9 : Platform independence : python is highly portable and runs on various platforms including Windows , Linux , and macOS. This makes it easier to develop applications that can run on different systems without modification.

#10 : Adoption in Academia and Industry : python's popularity in both academic and industrial settings has led to its widespread adoption . It is often thhe language of cice for teaching programming and data sciencce due to its simplicity and power.

In [2]:
# Question_2 Describe the role of predefined keywords in Python and provide examples of how they are used in a proram

In [ ]:
#1 : Predefined have special meanings and cannot used as identifiers (variable names, function names , etc).

# 2 : Examples include : if , else , while , for , def, class , import , try, except , return , True, False , None etc.

# 3 : Keywords are case sensitive and cannot redefined or overridden with in a python program.

In [2]:
#EXAMLE:

print ("hello world") # print is a keyword

hello world

In [5]:
a =3 # a is a variable
a

3

In [6]:
# Question_3 0 Compare and contrast mutable and immutable objects in Python with examples

In [7]:
# 1 : In python , objects can be either be changeble ( modifiable) or unchangeable (unchangeable)

# 2 : In python mutable object , such as list and dictionaries , can be modified after creation , while immutable objects , such as tuples and strings can not.

# 3 : Mutability affects how objects are stored and manipulated in memory , impacting performance , memory usage and concurrency in python programm.

In [21]:
# Examples of mutable :

lis =[" Rahul", "Parul", "Vaibhav", "Prince", "Ashu"]
lis

[' Rahul', 'Parul', 'Vaibhav', 'Prince', 'Ashu']

In [22]:
lis[2] = "Pandit" # list is a mutable because after creation it can be change.
lis

[' Rahul', 'Parul', 'Pandit', 'Prince', 'Ashu']

In [25]:
#Examples of immutable:

str1 = "vaibhav pandit" # str1 is a string
str1

'vaibhav pandit'

In [26]:
str1[3] = "s" #string is a immutable after creation that can not be change.
str1    # it will give error

TypeError: 'str' object does not support item assignment

In [ ]:
# Question_4 : Discuss the different types of operators in Python and provide examples of how they are used.

In [27]:
# 1 : Operator have special symbols or keywords that carry out specific action on numbers or variable in python expression.

# 2 : Python supports various types of operator ;

   # arithmetc operators : (+,-,*,/)
    # comparisson operator : ( ==, !=,<,>)
    # logical operator : ( and or not )
    # assignment operator : ( = , +=, -=, *=, /=)
    
 # 3 : Operator have precedence and associativity rules that determine the order of evaluation in expression.

In [33]:
#Examples: 
 #arithmetic operator example 
a = 6
b = 7
    
print(a+b)  
print(a*b)
print(a-b)
print(a/b)
print(a//b)
print(a%b)

13
42
-1
0.8571428571428571
0
6

In [34]:
# Examples :
#Comparison operator
a = 10
b = 5

print(a==b)
print(a!=b)
print(a<b)
print(a>b)

False
True
False
True

In [37]:
# logical operators :
True and True

True

In [38]:
True or False

True

In [39]:
not True

False

In [42]:
#assignment operator:
a = 16
b =10 

print (a)

16

In [43]:
print (b)

10

In [48]:
a = 16
b = 10
a+=b
print(a)

26

In [49]:
a = 16
b =10 
a-=b
print(a)

6

In [50]:
a = 16
b =10
a/=b
print(a)

1.6

In [51]:
a = 16
b =10
a*=b
print (a)

160

In [52]:
a =16
b = 10
a =b 
print(a)

10

In [58]:
#membership operator 
list1 = [" anu", "vaibhav", "prince" , "ashu"]
if "prince" in list1:
    print(True)
else:
    print(False)

True

In [ ]:
#  Question_5:  explain the concept of type casting in Python with examples

In [ ]:
#1 Type casting referred as type conversion , is a process of changing one data type to another in python.

#2 python provide built in functions for type casting , such as int (), float(), str(), list(), tuple (), dict(), etc.

#3 Type casting often necessary for performing arithmetic operations, data manipulation and input /output operation in python programs.

In [59]:
a = 3
type(a)

int

In [60]:
a =8.6547
type (a)

float

In [61]:
name = "Anudeep kaur Walia"
type (name)

str

In [68]:
lis =[ 1,4,6,7,"anu",9,4,"bella",34]
type (lis)

list

In [66]:
tup =("anu" , "bella" , 1, 4 ,7)
type (tup)

tuple

In [69]:
# type casting >> conversion one data type to another data type 
# integer to string 
a = 80
print(type(str(a)))

<class 'str'>

In [71]:
# integer to float 
a= 556666
print(type(float(a)))

<class 'float'>

In [74]:
# list to tuple
lis=("anu", "bela", "vaibhav", 4,7,8,3,9)
print(type(tuple(lis)))

<class 'tuple'>

In [1]:
# Question_6 How do conditional statements work in Python? Illustrate with examples

In [4]:
marks = 100
if marks > 50:
    print( "marks greater than fifty")
else:
    print("marks not greater than fifty")

marks greater than fifty

In [2]:
marks = 100
if marks >300:
    print ("marks are greater than three hundred")
elif marks > 200 :
    print ("marks are  greater than two hundred")
else:
    print ("marks are not greater than 200")

marks are not greater than 200

In [4]:
age = 30 
if age < 18:
    print (" you are minority ")
elif 18 <age<=65:
    print ("you are adult")
else:
    print ("you are senior citizen")

you are adult

In [16]:
grade = 100 
nikhil = True
if(( grade < 200 )and (nikhil ==True)):
        print ( "you are genius ")

you are genius

In [32]:
#nested if else 
x = 8
y = 8
if x > 9:
        if y > 9:
            print (" both x and y are greater than 9")
        else:
            print (" x is greater than 9 and y is  not greater than 9")
    
else:  
    if y > 9:
        print (" x is not greater than 9")
    else :
         print( "x and y are both  not greater than 9")

x and y are both  not greater than 9

In [14]:
# Question_7  Describe the different types of loops in Python and their use cases with examples.

In [ ]:
# There are two types of loops:

# 1 : for loops 
# 2 : while loops

In [1]:
# example for loop 
#even no
for i in range (2,20):
    if i%2 ==0:
        print (i)

2
4
6
8
10
12
14
16
18

In [2]:

#  odd  no

for i in range (1,30):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [6]:
#while loop

count= 5
while count > 0 :
      print(count)
      count = count-1

5
4
3
2
1

In [11]:
# break statement 
for i in range (1,30):
    if i%20==0:
        print(i)
        break

20

In [14]:
for i in range (21,45):
    if i%2!=0:
        print(i)
        break

21

In [19]:
#continue statement example

for i in range (7, 45):
     if i%2==0:
        if i ==10:
            continue
        print(i)

8
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44

In [21]:
for i in range(3, 30):
    if i%2!=0:
        if i == 21:
            continue
        print(i)

3
5
7
9
11
13
15
17
19
23
25
27
29